<style>
    
    .modal-body
    {
        margin-left: 10px;
        margin-top: 30px;

    }
</style>

<center>
    <div class="container" >
        <div class="card" style="border: 3px solid #f1f1f1; width: 610px;">
        <div class="card-header ">
            <h2>Change Password</h2>
        </div>
     
        <div class="alert alert-danger" ng-show="form.show && !form.success">
            {{form.message}}
        </div>

    <div class="alert alert-success" ng-show="form.show && form.success">
        {{form.message}}
    </div>

    <form class="form" name="changeForm" ng-submit="submit()" novalidate >
        
        <div class="modal-body"  >
            <div class="form-group row">
                <label style="text-align: left; width:144px;">Old Password<font color="red">*</font> </label>
                <div class="col-lg-9" >
                        <input class="form-control" type="password" name="oldPassword" ng-model="form.oldPassword" 
                        ng-pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[\\S])[A-Za-z0-9\\S]{6,8}$\" ng-class="{'is-invalid':changeForm.oldPassword.$error.required && changeForm.oldPassword.$touched}" required>
                        <span  ng-show="changeForm.oldPassword.$error.pattern">Invalid Password!</span>
                        <span ng-show="changeForm.oldPassword.$error.required && changeForm.oldPassword.$touched"
                         class="form-text text-danger">Old Password is required!</span>
                </div>
            </div>
            <div class="form-group row">
                <label style="text-align: left; width: 144px;">New Password<font color="red">*</font> </label>
                <div class="col-lg-9">
                        <input class="form-control" type="password" name="password" ng-pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[\\S])[A-Za-z0-9\\S]{6,8}$\"
                        ng-class="{'is-invalid':changeForm.password.$error.required && changeForm.password.$touched}"
                       ng-model="form.password" required>
                       <span  ng-show="changeForm.password.$error.pattern"><font color="red">Invalid Password!</font></span>
                       <span ng-show="changeForm.password.$error.required && changeForm.password.$touched"
                        class="form-text text-danger">New Password is required!</span>
       
                </div>
            </div>
            <div class="form-group row">
                <label  style="text-align: left; width: 144px;">Confirm Password<font color="red">*</font> </label>
                <div class="col-lg-9">
                        <input class="form-control" type="password" ng-model="form.confirmPassword" required ng-change="confirmPassword()"
                        ng-class="{'is-invalid':changeForm.password.$error.required && changeForm.password.$touched}">
                        <span  ng-show="changeForm.password.$error.pattern"><font color="red">Invalid Password!</font></span>
                        <span ng-show="changeForm.password.$error.required && changeForm.password.$touched"
                         class="form-text text-danger">Confirm Password is required!</span>
        
                </div>
            </div>         
                <div>
                    <button type="submit" class="btn btn-primary form-control" style="width: 100px;" ng-click="changeForm.$setUntouched();" ng-disabled="changeForm.$invalid && changeForm.$error">Save
                        <span class="fas fa-paper-plane"></span>
                    </button>
                    &nbsp;&nbsp
                    <button type="reset" class="btn btn-primary form-control" style="width: 100px;">Reset
                    </button>
            </div>
        </div>
    </form>
</div>
</div>
</center>

