<div class="container">
    <div>
        <H2>Marksheet Merit List</H2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm table-bordered table-hover table-responsive-sm">
                <thead class="thead-dark">
                        <th scope="row">S.No.</th>
                        <th scope="row">ROLL NO</th>
                        <th scope="row">NAME</th>
                        <th scope="row">PHYSICS</th>
                        <th scope="row">CHEMISTRY</th>
                        <th scope="row">MATHS</th>
                        
                    <th scope="row">PERCENTAGE</th>
                </thead>
                <tbody>
                        
                    <tr ng-repeat="data in list" ng-if="(((data.physics+data.chemistry+data.maths)/300)*100)>75">
                        <td>{{$index+1}}</td>
                        <td>{{data.rollNo}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.physics}}</td>
                        <td>{{data.chemistry}}</td>
                        <td>{{data.maths}}</td>
                        <td>{{((data.physics+data.chemistry+data.maths)/300)*100|number:2}}%</td>
                        
                    </tr>
                </tbody>
        </table>
        </div>
    </div>
</div>